.filter__label {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter__input {
  height: 25px;
  border-radius: 7px;
  padding: 0 7px;
  cursor: pointer;
  border-color: rgb(87, 90, 94);
  width: 200px;
}
